@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "info": tomato,
  "danger": teal,
);

$font-primary: 'Nunito Sans',Arial, sans-serif;

$white: #fff;
$black: #000000;
$light: #f3f3f3;

$primary: #d1002c;
$secondary: #fff5ed;
$darken: #0f0f13;

$cinnabar: rgb(239, 62, 54);
$bluegreen: rgb(23, 190, 187);
$bluelapiz: rgb(48, 99, 142);
$sunray: rgb(255, 157, 0);
$color1 : #753127;
$color2 : #192323;
$color3 : #488fa7;
$color4 : #55a29e;
$indigo: #c95045;
$offwhi: rgb(247, 244, 243);
$button: rgb(89, 101, 111);
$button2: rgb(29, 30, 44);


#root{
  font-family: $font-primary;
	background: $white !important;
	// font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	color: lighten($darken,60%);
}

a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none;
		color: $primary;
		outline: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: rgba(0,0,0,.8);
	font-weight: 400;
}

.navbar-main {
 // background-image: linear-gradient(to bottom left, #55a29e, #488fa7);
  z-index: 999;
  background-color: transparent !important; 
}
.navbar-main-scrolled {
  // background-image: linear-gradient(to bottom left, #55a29e, #488fa7);
   z-index: 999;
   background-color: $white !important; 
   box-shadow: black;
 }
.navbar-brand{
  margin-left: 20px;
}
.navbar-brand,.nav-link{
  color: $cinnabar !important;
}
.navbar-nav{
  justify-content: center !important;
}
.blogCardsCol {
  padding: 1.5% !important;
}
.ant-layout-header {
}
.page-card,.grid-card {
  margin: 1.5rem auto !important;
  border-radius: 6px !important;
    .page-card-carousel {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 2% !important;
    .page-card-image {
      max-height: 60vh;
    }
  }
}
.home-page-header{
  position: relative;
  top:-60px !important;
  background-image: url("./images/homeheader.jpg");
  overflow: hidden;
  background-size: cover;
  width: 100%;
  padding: 4% 8%;
  margin-bottom: -50px !important;
}

.blogListHeaderRow {
  background-image: url("./images/bloglist.jpg");
  overflow: hidden;
  background-size: cover;
  width: 100%;
  padding: 4% 8%;
}

.blogCardsCol {
  .ant-card {
    background-image: linear-gradient(to bottom, rgba(231, 231, 231, 0.966), rgb(255, 255, 255)) !important;
    background-color: transparent !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    padding: 6px !important;
  }
  .ant-card-cover {
    border-radius: 8px !important;
    height: 27vh !important;
    overflow: hidden;
  }
  .ant-card-body {
    height: 27vh !important;
  }
}

.about-section {
  background-image: linear-gradient(to bottom left, #55a29e, #488fa7),
    url("./images/bloglist.jpg");
  border-radius: 8px;
  overflow: hidden;
  padding: 2%;
  margin: 3% auto;
}
.about-section a {
  color: black;
}
.social-icons {
  margin-right: 2%;
  font-size: 40px;
}
.footer-section {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(32, 0, 49));
  overflow: hidden;
  padding: 3%;
  margin: 3% auto;
  margin-bottom: 0;
}
.footer-section .ant-typography {
  color: rgb(235, 235, 235);
}
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}
.carousel-image-container {
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
}

@media screen and (max-width: 768) {
  .navbar-brand{
    margin-left: 0px !important;
  }
  .navbar-expand-md{
    background-color: transparent !important;
    position: absolute !important;
  }
}